<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<!--Database connection config-->
		<connectionStrings>
			<add name="students_tracker.Properties.Settings.students_trackerConnectionString"
				connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=nav_zaklad"
				providerName="MySql.Data.MySqlClient" />
		</connectionStrings>
</configuration>